*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #506377;
}

h1,
h2,
h3,
h4 {
    font-family: 'Open Sans', sans-serif;
}

.hamburger-menu1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hamburger-menu,
.mobile-menu{
    display: none;
}

.hamburger-menu {
    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color:#ffd166;
    margin: 6px 0;
}
.mobile-menu {
    height: 100vh;
    width: 80vw;
    overflow: hidden;
    display: none;
    flex-direction: column;
    background: #2c3e50;
    justify-content: center;
    position: absolute;
    text-align: left;
    top: 70px;
    left: 0;
    width: 90%;
    z-index: 1;
    opacity: 0; 
    transition: opacity 0.9s ease-in-out;
    border-radius: 0 10px 10px 0;
}

.mobile-menu a {
     padding: 15px;
     text-decoration: none;
     color: #ffd166;
     border-bottom: 1px solid #2ecc71;
 }
 
 .hamburger-menu .bar{
     height: 40px;
 
 }

 .nav-logo a{
    text-align: center;
    color: white;
 }

 .nav-logo a:hover{
    color:#2ecc71;
    border-bottom: white 2px solid;
    transition: 1.2s ease-in-out;
 }

 @media screen and (max-width: 810px) {
    .hamburger-menu {
        display: flex;
        margin-right: 40px;
        width: 40px;
        height: 40px;
        right: 0;
    }

    .nav-socials a img{
        display: none;
    }

    .links {
        display: none; 
        align-items: center;
        text-align: center;
    }

    .mobile-menu {
        opacity: 1;

    }
    
}



.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;   
    background-color:hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(15rem);
    box-shadow: 1px 1px 4px #777;
    z-index: 1000;
}


.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 1rem 1rem;
    

}

.navbar .container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    align-items: center;

}

.navbar .nav-contact {
    font-size: 27px;
    font-weight: 4;
    color: #2ecc71;
    pointer-events: none;
}

.navbar .nav-contact a {
    display: flex;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.navbar .nav-contact h1{
    font-family: colonna MT;
}

.navbar .nav-logo a {
    display: flex;
    font-size: 21px;
    font-weight: 8;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 8px;
    list-style: none;
    margin-left: 15px;
    letter-spacing: 2px;

}



.navbar .nav-socials {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

}

.navbar .nav-logo{
    display: flex;
    flex-direction: row;
}



.menu-icon {
    float:left;
    cursor: pointer;
    font-size: 1.5em;
  }

 @media only screen and (max-width: 768px) {
     
    .nav-logo {
        display: block;
        
      }
  
      .nav-logo a {
        padding: 15px;
        display: block;
      }
      .nav-socials{
        display: none;
        background: transparent;
    }
    
  
} 

@media only screen and (max-width:600px) {
    .navbar .nav-logo a{
        display: none;
    }
    .navbar .nav-socials{
        display: none;
    }

}

@media only screen and (min-width:600px){
    .menu-icon{
        display: none;
    }
}



.navbar .nav-socials a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background:teal ;
    cursor: pointer;
    overflow: hidden;
    transition: 1.s ease-in-out;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
}


.navbar .nav-socials a:hover {
    scale: 0.2s ease-in-out;
    background:#2ecc71;
    
}


.header {
    background: linear-gradient(to bottom, #111, #000000aa), url(/assets/_images/home\ page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
}

.header .container .item {
    width: 100%;
}

.header .container .item:nth-child(1) {
    width: 100%;
    grid-column: span 2;
}

.header .container .card h2 {
    font-size: 66px;
    font-weight: 300;
    color: #fff;
    padding-bottom: 2rem;
}

.header .container .card{
    border-bottom:15px solid #2ecc71;
    border-radius: 11px;
}

.header .container .card h2 span {
    font-size: 26px;
    font-weight: 400;
    color: #fff;
}

.header .container .card h2 strong {
    font-weight: 700;
    color: #ffd166;
}

.header .container .card h1 {
    font-size: 40px;
    font-weight: 800;
    color: #0270ba;
    text-transform: uppercase;
    letter-spacing: 3px;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: transparent;
    -webkit-backdrop-filter: blur(55px);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke: 0.2px #2ecc71;
}

.header .container .card h3 {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    padding-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.header .container .card-tags {
    padding-top: 4rem;
}

.header .container .card-tags h2 {
    font-size: 24px;
    font-weight: 400;
    color:#fff;

}

.header .container .card-tags .tags {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 700px;
    padding: 1rem 0rem;
}

.header .container .card-tags .tags span {
    border-radius: 0 10px;
    background-color: #000000aa;
    border-left: 4px solid #2ecc71;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 300;
    color: #eee;
    padding: 1.2rem 2.4rem;
    padding-left: 0.5rem;
    transition: all 1s;
    cursor: pointer;
}

.header .container .card-tags .tags span:hover {
    padding: 1.2rem 0.5rem;
    padding-left: 2.4rem;
    color: #2ecc71;
}

section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


section .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .heading .title {
    margin-top: 10px;
    font-size: 40px;
    font-weight: 500;
    text-transform: capitalize;
    color: teal;
    letter-spacing: 2px;

}

section .heading .subtitle {
    font-weight: 500;
    text-transform: uppercase;
    color: #aaa;
}

section .items {
    padding: 4rem 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2rem;
}

.items, .item, .card-tags, .tags{
    border-radius: 0 10px;
}


section .items .item {
    width: 100%;
}

.about{
    background:  #2c3e50;
}

.about .items .item .image {
    max-width: 400px;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    margin-left: 40px;
}

.about .items .item .image::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #2c3e50, transparent);
}

.about .items .item .image img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);


}

.about .items .item h1 {
    font-size: 55px;
    line-height: 66px;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke-width:5px ;
    -webkit-text-stroke: 2px #ffd166;
    text-transform: uppercase;
    padding: 2rem 0rem;
    text-align: center;
}



.about .items .item .desc p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 50;
    -webkit-text-stroke-width:1.px ;
    color: white;
    padding: 2rem 4rem;
    text-align: center;
}


.work{
    background: #2c3e50;
}

.work .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 4rem 1rem;
}

.work .items .item .image {
    width: 100%;
    height: 520px;
    overflow: hidden;
    position: relative;
}

.work .items .item .image::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #111, transparent);
}

.work .items .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 4rem 1rem;
}

.work .items .item .image {
    width: 100%;
    height: 520px;
    overflow: hidden;
    position: relative;
}

.work .items .item .image::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #111, transparent);
}

.work .items .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work .items .item .image img:hover{
    transition: 05ms;
}

.work .items .item .card {
    position: relative;
    z-index: 100;
    width: 100%;
    padding: 2rem;
    margin-top: -30%;
    border-radius: 10px;
}

.work .items .item:nth-child(1) .card {
    width: 100%;
    padding: 2rem;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .items .item .card h1 {
    font-size: 38px;
    line-height: 38px;
    font-weight: 500;
    font-size: 45px;
    color: transparent;
    -webkit-text-stroke-width:5px ;
    -webkit-text-stroke: 2px #ffd166;
    border: none;

}

.work .items .item .card h2{
    color: #ffd166;
}

.work .items .item .card p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #aaa;
    padding-top: 0.75rem;

}



.slider {
    text-align: center;
    padding: 2%;
}

.slider h1{
    font-size: 45px;
    color: transparent;
    -webkit-text-stroke-width:5px ;
    -webkit-text-stroke: 2px #ffd166;


}

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    padding: 10px;
}

.box img{
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    animation: fade 5s forwards;
    transition: o.6s ease-out;
}



@keyframes fade{
    from{
        opacity: 0;

    }

    to{
        opacity: 1;
    }
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(2rem);
    z-index: 1000;
    transition: 2.s ease-out;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(2rem);
    padding: 5px;
}

.close {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 50px;
    color: #ffd166;
    cursor: pointer;
}


.modal-content {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}


  .mobile-menu a{
    color: #ffd166;
    font-size: 29px;
    border-bottom: none;
    margin-top: 10px;
  }

  .mobile-menu img :nth-child(3){
    height: 40px;
    margin-top: 20px;
    margin-left: 40px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);

  }

  .mobile-menu a :hover{
    color:#2ecc71;
  }

  .experience{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
  }

  .experience-1{
    width: 250px;
    height: 250px;
    border-radius: 5px;
    color: white;
    display: grid;
    background: #2c3e50;
    margin-left: 15px;
    margin-top: 15px;
    transition: 0.5s ease-in-out;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);


  }

  .experience-1:hover{
    width: 270px;
    height: 270px;
  }

 

 


  .experience-1 img{
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
  }

  .experience-1 h2{
    color: #2ecc71;
    font-size: 20px;
  }

  .experience-1 p{
    font-weight: 300;
    font-size: 18px;
  }

  .nav-socials1{
    margin: 30px;
    text-align: center;
    padding: 2%;
    
  }

  .nav-socials1 a{
    background: #2ecc71;
    border-radius: 5px;
    transition: 1.5s ease-in-out;
    margin-left: 10px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);

  }

footer{
    display: grid;
    background: #8fb6ce;
    justify-content: center;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px 30px 0 0;

}

footer .comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .comment h1  {
    padding: 1%;
    text-align: center;
    color: #ffd166;
    font-size: 55px;
}
footer .comment p{
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 25px;
}

footer .form{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    background: #506377;
    border-radius: 30px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);

}

footer .form .information{
    background: #2c3e50;
    overflow: hidden;
    width: 500px;
    border-radius: 30px;
    justify-content: space-around;
    display: grid;
    place-items: center;
    height:100%;
}

footer .form .information .information2{
    display: block;
    text-align: left;
    width: 89%;
    height: 89%;
    color: white;
    justify-content: space-around;
    background-color:hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(23rem);
    border-radius: 15px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);

    
}

.information2 h3{
    color: #2ecc71;
}

.information2 h3,
.information2 p{
    line-height: 33px;
    padding: 2%;
    margin-left: 20px;
}

.info-pic,
.info-pic2,
.info-pic3 {
    display: flex;
    align-items: center;
}

.info-pic img,
.info-pic2 img,
.info-pic3 img{
    width: 30px;
    margin-left: 20px;
    border-radius: 5px;
    background: #2ecc71;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);

}

.fill-in{
    width: 700px;
  
}
form{
    margin: 40px;
    justify-content: center
}
.first-1{
    margin-top: 20px;
    margin-left: 40px;
}

.first-1 input{
    outline: none;
    border: none;
    border-bottom: 2px solid silver;
    color: white;
    height: 50px;
    width: 270px;
    background: none;
    margin-left: 10px;


}

.first-1 input::placeholder{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}

.second-2{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 40px;
}

.second-2 textarea{
    width: 540px;
    border: none;
    outline: none;
    background: none ;
    border-bottom: 2px solid #2ecc71;
    
}

.second-2 textarea  ::placeholder{
    color: white;
    font-size: 20px;
}

.second-2 button{
    width: 200px;
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
    background: #2ecc71;
    color: white;
    border: none;
    font-size: 17px;


}

.n-logo{
    text-align: center;
    margin-top: 40px;

}
.n-logo img{
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #506377;
    border-radius: 5px;

}


.second-2 button :hover{
    background: #ffd166;
}

.finished{
    display: flex;
    justify-content: space-around;
    background:#8fb6ce;
    height: 70px;
    align-items: center;
}

.down{
    display: flex;
    align-items: center;
}

.down a{
    margin-left: 20px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    background:#2ecc71;
    border-radius: 5px;
}

.down a img{
    width: 25px;
    display: grid;
    place-items: center;

}
.down img{
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);

}

.down p{
    color: #ffd166;
}

.down p span{
    text-decoration: underline;
}

    
@media only screen and (max-width:450px){
    footer{
        width: 100vw;
    }
    footer .comment h1{
        font-size: 34px;
    }
    footer .comment p{
        text-align: center;
    }
    footer .form{
        justify-content: center;
        height: 140vh;

    }
    footer .form .information{
        width: 90%;
        margin-top: 30px;


    }
    .fill-in{
        width: 90%;
    }
    .first-1{
        display: flex;
        flex-direction: column;
    }
    .second-2 textarea{
        width: 270px;
    }
    .finished{
        display: grid;
        margin-top: 5px;
        justify-content: center;
    }
    .down{
        margin-left: 20px;
        margin-top: 10px;
    }
    .modal{
        top: 40%;
        width: 90%;
    }

}

@media only screen and (max-width:810px){
    footer{
        width: 100vw;
    }
    footer .comment h1{
        font-size: 34px;
    }
    footer .comment p{
        text-align: center;
    }
    footer .form{
        justify-content: center;
        height: 100%;

    }
    footer .form .information{
        width: 90%;
        margin-top: 30px;
        height: 50%;


    }
    .fill-in{
        width: 90%;
    }
    .first-1{
        display: flex;
        flex-direction: column;
    }
    .second-2 textarea{
        width: 270px;
        height: 100px;
    }
    .nav-socials a img{
        display: none;
    }

}